<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Info | BOSS</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='medical.css') }}">
</head>
<body style="font-family: Arial, Helvetica, sans-serif;">

    <header>
        <h1>Barangay Online Services System <br>
            <small><i>Medical Info</i></small>
        </h1>
    </header>

    <div class="flex-container">
        <form action="{{ url_for('medical_route') }}" method="post" onsubmit="return formatDate()" enctype="multipart/form-data">
            <div class="top">
                <a href="{{ url_for('dashboard_route') }}"><img src="{{ url_for('static', filename='images/return.png') }}" alt=""></a>
            </div>
            <!-- Medical Information -->
            <p><strong>{{ barangayid }}</strong></p>
            <p style="font-size: 0.75rem; font-family: Arial, Helvetica, sans-serif;">Update Medical Information</p>
            <br>
            <p style="font-size: 0.75rem; font-family: Arial, Helvetica, sans-serif;">BMI Classification</p>
            <select required name="bmi_classification" style="padding: 5px" onchange="showAdditionalFields()">
                <option value="Underweight">Underweight</option>
                <option value="Normal">Normal</option>
                <option value="Obese">Obese</option>
            </select>
            <br><br>
            
            <input type="text" name="medical_condition" placeholder="Medical Condition">
            <br>

            <p style="font-size: 0.75rem; font-family: Arial, Helvetica, sans-serif;">Covid Vaccinated?</p>
            <select required name="covid_vaccinated" style="padding: 5px" onchange="showAdditionalFields()">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
            <br>
            
            <p style="font-size: 0.75rem; font-family: Arial, Helvetica, sans-serif;">Maintenance Medicine?</p>
            <select required name="maintenance_medicine" style="padding: 5px" onchange="showAdditionalFields()">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
            <br>

            <p style="font-size: 0.75rem; font-family: Arial, Helvetica, sans-serif;">Physical Fitness</p>
            <select required name="bmi_classification" style="padding: 5px" onchange="showAdditionalFields()">
                <option value="Physically Fit">Physically Fit</option>
                <option value="Not Physically Fit">Not Physically Fit</option>
            </select>


            <input type="submit">
            <br>
            {% if registration_status %}
                <p style="font-size: 0.75rem; margin-top: 10px;" sty id="registrationMessage">{{ registration_status }}</p>
            {% endif %}
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </div>
    <br>
    <footer>
        &copy; 2023 Barangay Online Services System
    </footer>
</body>
</html>