<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <header>
        <h1>Barangay Online Services System <br>
            <small><i>Administrator Dashboard</i></small>
        </h1>
    </header>
    
    <section class="profile-section"> 
        <div class="profile-info">
        {% if 'admin_info' in session %}
            <h2>Name: {{ session['admin_info'][1] }} {{ session['admin_info'][2] }}</h2>
            <p>Admin ID: {{ session['admin_info'][0] }}</p>
            <p>Position: {{ session['admin_info'][4] }}</p>
        {% endif %}
        </div>
        <div class="sign-out-button">
            <a href="/login">Sign Out</a>
        </div>
    </section>

    <main>
        <section class="dashboard-section">
            <h2>General Records</h2>
            <ul>
                <form id="residentForm" action="/residentinfo" method="post">
                    <a href="#" onclick="document.getElementById('residentForm').submit();">Barangay Resident Record</a>
                </form>
                <form id="addressForm" action="/addressinfo" method="post">
                    <a href="#" onclick="document.getElementById('addressForm').submit();">Address Record</a>
                </form>
                <form id="adultForm" action="/adultinfo" method="post">
                    <a href="#" onclick="document.getElementById('adultForm').submit();">Adult Resident Record</a>
                </form>
                <form id="studentForm" action="/studentinfo" method="post">
                    <a href="#" onclick="document.getElementById('studentForm').submit();">Student Resident Record</a>
                </form>
                <form id="medicalForm" action="/medicalinfo" method="post">
                    <a href="#" onclick="document.getElementById('medicalForm').submit();">Medical Record</a>
                </form>               
            </ul>
        </section>

        <section class="dashboard-section">
            <h2>Administrative Records</h2>
            <ul>
                <form id="householdForm" action="/householdinfo" method="post">
                    <a href="#" onclick="document.getElementById('householdForm').submit();">Barangay Household Record</a>
                </form>
                <form id="incomeForm" action="/incomerecord" method="post">
                    <a href="#" onclick="document.getElementById('incomeForm').submit();">Household Income Record</a>
                </form>
                <form id="unemploymentForm" action="/unemploymentinfo" method="post">
                    <a href="#" onclick="document.getElementById('unemploymentForm').submit();">Unemployment Record</a>
                </form>
                <form id="scholarshipForm" action="/scholarshipinfo" method="post">
                    <a href="#" onclick="document.getElementById('scholarshipForm').submit();">Scholarship Record</a>
                </form>
            </ul>
        </section>

        <section class="dashboard-section">
            <h2>Administration</h2>
            <ul>
                <form id="accRegister" action="/accregistration" method="post">
                    <a href="#" onclick="document.getElementById('accRegister').submit();">Account Registration</a>
                </form>
                <form id="uploadForm" action="/upload_form" method="get">
                    <a href="#" onclick="document.getElementById('uploadForm').submit();">Upload Request Forms</a>
                </form>
                <form id="downloadForm" action="/download" method="get">
                    <a href="#" onclick="document.getElementById('downloadForm').submit();">Download Forms</a>
                </form>
                <form id="appointmentForm" action="/appointment" method="post">
                    <a href="#" onclick="document.getElementById('appointmentForm').submit();">Appointment Management</a>
                </form>
                <form id="caseForm" action="/caseinfo" method="post">
                    <a href="#" onclick="document.getElementById('caseForm').submit();">Barangay Case Record</a>
                </form> 
            </ul>
        </section>
    </main>

    <footer>
        &copy; 2023 Barangay Online Services System
    </footer>

</body>
</html>