<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BARANGAY RESIDENT RECORD</title>
    <link rel="stylesheet" href="/static/functionstyles.css">
</head>
<body>
    <div class="submain">
        <h3>BARANGAY RESIDENT RECORD</h3>
        <table class="read-main">
            <tr>
                <th>Barangay ID</th>
                <th>Category</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Sex</th>
                <th>Birthdate</th>
                <th>Birthplace</th>
                <th>Religion</th>
                <th>Civil Status</th>
                <th>Citizenship</th>
                <th>Voter Precinct No.</th>
                <th>Contact Number</th>
                <th>Profile Picture</th>
                <th>Action</th>
            </tr>
            {% for record in residentinfo %}
                <tr>
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                    <td>{{ record[2] }}</td>
                    <td>{{ record[3] }}</td>
                    <td>{{ record[4] }}</td>
                    <td>{{ record[5] }}</td>
                    <td>{{ record[6] }}</td>
                    <td>{{ record[7] }}</td>
                    <td>{{ record[8] }}</td>
                    <td>{{ record[9] }}</td>
                    <td>{{ record[10] }}</td>
                    <td>{{ record[11] }}</td>
                    <td>{{ record[12] }}</td>
                    <td>{{ record[13] }}</td>
                    <td>
                        <form action="/residentinfo" method="post">
                            <input type="submit" name="edit" value="EDIT">
                            <input type="hidden" name="editbarangayid" value="{{ record[0] }}">
                            <input type="hidden" name="editcategory" value="{{ record[1] }}">
                            <input type="hidden" name="editlastname" value="{{ record[2] }}">
                            <input type="hidden" name="editfirstname" value="{{ record[3] }}">
                            <input type="hidden" name="editmiddlename" value="{{ record[4] }}">
                            <input type="hidden" name="editsex" value="{{ record[5] }}">
                            <input type="hidden" name="editbirthdate" value="{{ record[6] }}">
                            <input type="hidden" name="editbirthplace" value="{{ record[7] }}">
                            <input type="hidden" name="editreligion" value="{{ record[8] }}">
                            <input type="hidden" name="editcivilstat" value="{{ record[9] }}">
                            <input type="hidden" name="editcitizenship" value="{{ record[10] }}">
                            <input type="hidden" name="editvoterprecinct" value="{{ record[11] }}">
                            <input type="hidden" name="editcontactno" value="{{ record[12] }}">
                            <input type="hidden" name="editprofile_picture" value="{{ record[13] }}">
                            <input type="hidden" name="action" value="edit">
                        </form>
                        <form action="/residentinfo" method="post">
                            <input type="submit" name="delete" value="DELETE">
                            <input type="hidden" name="deletebarangayid" value="{{ record[0] }}">
                            <input type="hidden" name="action" value="delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
