<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOUSEHOLD INCOME RECORD</title>
    <link rel="stylesheet" href="/static/functionstyles.css">
</head>
<body>
    <div class="submain">
        <h3>HOUSEHOLD INCOME RECORD</h3>
        <form class="create-main" action="/incomerecord" method="post">
            <input type="text" name="householdno" placeholder="Enter Household No." required value="{{ householdno }}" />
            <input type="hidden" name="action" value="submit"> <!-- Updated action value -->
            <input type="submit" value="SUBMIT" />
        </form>
        <!-- Flash message display -->
        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="flash-message error">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- Check if there are records to display the table -->
        {% if incomerecord %}
        <table class="read-main">
            <tr>
                <th>Household No.</th>
                <th>Combined Monthly Income</th>
            </tr>
            {% for record in incomerecord %}
                <tr>
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</body>
</html>
